<div class="sidebar-item">
    <header>
        <h1>Recommendations</h1>
    </header>
    <ul class="blogroll">
        {{ range .Site.Data.blogrolls.recommendations }}
            <li><a href="{{ .url }}">{{ .name }}: <span>{{ (urls.Parse .url).Hostname }}</span></a></li>
        {{ else }}
            <p>No recommendations yet.</p>
        {{ end }}
    </ul>
    <div class="blogroll-footer-links">
        <a href="{{ .Site.BaseURL }}/.well-known/recommendations.opml">OPML</a>
        <a href="{{ .Site.BaseURL }}/.well-known/recommendations.json">JSON</a>
    </div>
</div>