{{ $isPost := eq .Page.Type "post" -}}
{{ $showOnPosts := $.Site.Params.sidebar_show_on_posts -}}
{{ $showOnPages := $.Site.Params.sidebar_show_on_pages -}}
{{ $shouldShowSidebar := or .IsHome (and $showOnPosts $isPost) (and $showOnPages (not $isPost)) -}}
{{ if $shouldShowSidebar -}}
<div class="sidebar">
    {{ if templates.Exists "partials/sidebar.html" }}
    {{ partial "sidebar.html" . }}
    {{ else }}
    {{ partial "sidebar-for-tiny-theme/recommendations.html" . }}
    {{ end }}
</div>
{{ end -}}