body {
    max-width: 55em;
}

div.wrapper {
    display: grid;
    grid-template-columns: auto 15em;
    column-gap: 60px;
}

div.sidebar {
    font-size: 0.9em;
    line-height: 1.8;
}

div.sidebar header {
    margin-bottom: 0;
}

div.sidebar header h1 {
    font-size: 1.0em;
    color: var(--accent1);
}

ul.blogroll {
  padding-inline: 0;
}

ul.blogroll li {  
  list-style-type: none !important;
}

ul.blogroll li a {
  text-decoration: none;
  color: var(--text);
}

ul.blogroll li a span {
  color: var(--accent2);
}
